.scrollbar::-webkit-scrollbar {
  width: 12px;
  height: 8px;
}

.scrollbar::-webkit-scrollbar-track {
  background: #343A40; 
  border-radius: 6px;
}

.scrollbar::-webkit-scrollbar-track:hover {
  background: #313141;
}

.scrollbar::-webkit-scrollbar-button {
  display: none;
}

.scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #FFFFFF;
  display: block;
} 